<h2>Products</h2>
<!-- *ngFor -->
<div *ngFor="let product of products; index as productId">

  <h3>
    <!-- Property binding [ ] -->
    <!-- router link -->
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      <!-- Interpolation {{ }} -->
      {{ product.name }}
    </a>
  </h3>

  <!-- *ngIf -->
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <!-- Event binding ( ) -->
   <button (click)="share()">
    Share
  </button>

  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>

</div>